extends layout

block content
  h1= title
  - var image_names=["clock1.jpg","clock 2.jpg","clock 3.jpg","clock 4.jpg","clock5.jpg"]
  - for(let i=0;i<3;i++){
     - let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image No ${random}` height="300px" width="300px")

  - }